.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
  width: 100%;
  color: white;
  padding: 0rem 2rem;
}
.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left img {
  max-width: 150px;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.nav-links {
  color: #fff8e7;
  text-decoration: none;
  font-size: 1.12rem;
  transition: all 0.25s ease-in-out;
  font-family: var(--poppins);
  font-weight: 700;
}

.btn-header {
  padding: 5px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.25s ease-in-out;
  font-weight: 600;
  border-radius: 5px;
}
.whitepaper {
  background-color: transparent;
  border: 2px solid #fff8e7;
  color: #fff8e7;
  height: 64px;
  width: 200px;
  font-family: var(--poppins);
  font-weight: 700;
}

.whitepaper:hover {
  color: #211f23;
  background-color: white;
}

.header-social {
  font-size: 1.5rem;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.mobile {
  display: none;
}
.social-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 1.2rem;
}
.header {
  position: fixed;
  top: 0;
  transition: all 0.25s ease-in-out;
  z-index: 6;
}
.black {
  background-color: #050501;
  width: 100%;
  padding-inline: 5rem;
}
@media screen and (max-width: 1475px) {
  .header {
    width: 100%;
    padding-inline: 2rem;
  }
  .header-left {
    padding-left: 0.5rem;
  }
}
@media screen and (max-width: 1375px) {
  .nav-links {
    font-size: 1.2rem;
  }
  .btn-header {
    font-size: 0.8rem;
    padding-inline: 10px;
  }
}
@media screen and (max-width: 1146px) {
  .mobile {
    display: block;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .header {
    position: fixed;
    top: 0;
    transition: all 0.25s ease-in-out;
    z-index: 6;
  }
  .header-right {
    top: -100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #050501;

    z-index: 4;
    left: 0;
    transition: all 0.4s ease-in-out;
    overflow-y: hidden;
  }
  .header-left,
  .mobile {
    position: relative;
    z-index: 6;
  }
  .open {
    top: 0vh;
    overflow-y: visible;
  }
  nav {
    flex-direction: column;
  }
  .nav-links {
    font-size: 1.35rem;
  }
  .btn-header {
    font-size: 1.3rem;
    padding-inline: 20px;
  }
}
