.roadmap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem 6rem;
  height: auto;
  gap: 6rem;
  background-image: url("../../Assets/roadmap-bg.svg");
  background-size: cover;
  overflow-x: hidden;
  background-repeat: no-repeat;
}
.roadmap-div {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-auto-rows: auto;
  max-width: 1800px;
  row-gap: 2rem;
}
.center-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100%;
  flex-direction: column;
  gap: 30px;
}
.left-grid {
  grid-template-columns: 1/2;
}
.right-grid {
  grid-template-columns: 3/4;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-grid,
.right-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 2.5rem;
}
.top-grid-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.top-grid-text h1 {
  font-size: 2.7rem;
  font-family: var(--roboto);
  background: linear-gradient(91.14deg, #fbda37 -117.28%, #fce5ab 99.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.top-grid-text p {
  font-size: 1.2rem;
  font-family: var(--roboto);
  background: linear-gradient(91.14deg, #fbda37 -117.28%, #fce5ab 99.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.left-grid ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.left-grid ul li {
  color: #fff8e7;
  font-size: 1.1rem;
  font-family: var(--poppins);
  font-weight: 500;
  line-height: 1.7;
  text-align: center;
}
.line {
  width: 3px;
  height: 100%;
  background: linear-gradient(90deg, #fbda37 0.95%, #fce5ab 101.38%);
}
.grid-desc {
  line-height: 1.7;
  color: #fff8e7;
  font-size: 1.1rem;
  font-family: var(--poppins);
  font-weight: 500;
  text-align: center;
  width: 60%;
}
.mobile-none {
  display: block;
}
@media screen and (max-width: 1492px) {
  .grid-desc {
    width: 85%;
  }
  .roadmap {
    padding: 2rem 3rem;
  }
}
@media screen and (max-width: 832px) {
  .grid-desc {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .roadmap-div {
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    column-gap: 2rem;
  }
  .roadmap {
    padding: 2rem;
  }
  .center-grid {
    grid-column: 1/2;
  }
  .center1 {
    grid-row: 1/2;
  }
  .center2 {
    grid-row: 2/3;
  }
  .center3 {
    grid-row: 3/4;
  }
  .center4 {
    grid-row: 4/5;
  }
  .center5 {
    grid-row: 5/6;
  }
  .center6 {
    grid-row: 6/7;
  }
  .left-grid,
  .right-grid {
    grid-column: 2/3;
  }
  .mobile-none {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .left-grid ul li {
    font-size: 0.9rem;
  }

  .grid-desc {
    font-size: 0.9rem;
  }
  .top-grid-text p {
    font-size: 0.9rem;
  }
}
