.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 3rem 0rem;
  padding-bottom: 5rem;
}
.abs-triangle {
  top: 3%;
  position: absolute;
}
.tri1 {
  left: 9%;
  animation: rotate 4s ease-in-out 0s infinite;
}
.tri2 {
  right: 9%;
  animation: rotate 4s ease-in-out 0s infinite reverse;
}
@keyframes rotate {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
.triangle-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.triangle-div img {
  max-width: 100%;
  object-fit: contain;
}
.abs-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-direction: column;
  bottom: 8%;
}
.abs-text p:first-child {
  font-family: var(--poppins);
  font-weight: 600;
  color: #5a5a4f;
  font-size: 1.2rem;
}
.timer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.timer-div p {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-family: var(--poppins);
  font-weight: 600;
}
.timer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.timer-box h1 {
  font-size: 5rem;
  font-family: var(--poppins);
  font-weight: 600;
  line-height: 0.9;
  color: #050501;
}
.timer-box p {
  font-size: 1.1rem;
  font-family: var(--poppins);
  color: #5a5a4f;
  margin: 0;
  font-weight: 600;
}
.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.timer-btn {
  width: 310px;
  height: 75px;
  font-family: var(--amita);
  color: #fce5ab;
  background-color: #050501;
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.timer-btn:hover {
  background-color: #fce5ab;
  color: #050501;
}
.bottom-timer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}
.sale-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.sale-box h2 {
  font-family: var(--amita);
  background: linear-gradient(91.14deg, #fbda37 -117.28%, #fce5ab 99.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}
.small {
  font-size: 1rem;
}
.sale-box p {
  color: #fff8e7;
  font-size: 1.6rem;
  font-family: var(--poppins);
  font-weight: 500;
}
.dates {
  color: #fff8e7;
  font-size: 1.4rem;
  margin-top: 3rem;
  text-align: center;
}
@media screen and (max-width: 1230px) {
  .timer-box h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1084px) {
  .timer-box h1 {
    font-size: 2rem;
  }
  .timer-box p {
    font-size: 0.9rem;
  }
  .abs-text {
    gap: 2rem;
  }
  .timer-btn {
    width: 250px;
    height: 60px;
  }
  .sale-box h2 {
    font-size: 1.8rem;
  }
  .sale-box p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 946px) {
  .bottom-timer {
    flex-direction: column;
    gap: 2rem;
  }
  .sale-box {
    gap: 10px;
  }
  .dates {
    color: #fff8e7;
    font-size: 1.2rem;
    padding: 0rem 2rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 878px) {
  .timer-div {
    gap: 10px;
  }
  .abs-text p:first-child {
    font-size: 1rem;
  }
  .timer-div p {
    font-size: 2rem;
  }
  .timer-box h1 {
    font-size: 1.7rem;
  }
  .timer-box p {
    font-size: 0.9rem;
  }
  .abs-text {
    gap: 1rem;
  }

  .timer-btn {
    width: 200px;
    height: 60px;
    font-size: 1.2rem;
  }
  .sale-box h2 {
    font-size: 1.8rem;
  }
  .sale-box p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 682px) {
  .timer-div {
    gap: 10px;
  }
  .abs-text p:first-child {
    font-size: 1rem;
  }
  .timer-div p {
    font-size: 2rem;
  }
  .timer-box h1 {
    font-size: 1.7rem;
  }
  .timer-box p {
    font-size: 0.9rem;
  }
  .abs-text {
    gap: 1rem;
  }

  .timer-btn {
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
  }
  .sale-box h2 {
    font-size: 1.4rem;
  }
  .sale-box p {
    font-size: 1rem;
  }
  .abs-triangle {
    max-width: 16%;
  }
}
@media screen and (max-width: 610px) {
  .triangle-div img {
    display: none;
  }
  .abs-text {
    position: static;
    margin-top: 3rem;
  }
  .timer-box h1,
  .timer-div p {
    background: linear-gradient(91.14deg, #fbda37 -117.28%, #fce5ab 99.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .timer-box h1 {
    font-size: 2.5rem;
  }
  .timer-box p {
    font-family: var(--poppins);
    color: #5a5a4f;
    background: transparent;
    -webkit-text-fill-color: white;
    font-size: 0.7rem;
  }
  .timer-btn {
    background-color: #fce5ab;
    color: #050501;
  }
  .bottom-timer {
    flex-direction: column;
    gap: 2rem;
  }
  .sale-box {
    gap: 10px;
  }
  .timer {
    padding-bottom: 0rem;
  }
}
